

<!-- row 1 -->
<div class="row row_back">
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>3.6k</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>51.33k</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>30.62k</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>20.71k</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="chart-wrapper">
  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>
</div> -->
<!-- row 1 -->
<div class="row row_back">
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>4.25K</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>2.04min </h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>1.92</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3 card_back" (click)="onSelect()">
    <div>
      <div> <p>Max number of customers</p>
      <h1>2.07</h1></div>
      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- row 3  -->
<div class="row row_3">
  <div class="col-12 col-lg-5" style="background-color:#aaa;">
    <h4><i class="bi bi-heart"></i> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg>    Most common intents</h4>
    <p>payment              58.45%</p>
    <p>get_a_loan            15%  </p>
    <p> consumer_loans        5%  </p>
    <p>mortgage               5%  </p>
    <p>help                   4.5 </p>
    <p>support                 4% </p>

  </div>

  <div class="col-12 col-lg-5" style="background-color:#bbb;">
    <h4> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-watch" viewBox="0 0 16 16">
      <path d="M8.5 5a.5.5 0 0 0-1 0v2.5H6a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V5z"/>
      <path d="M5.667 16C4.747 16 4 15.254 4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86a5.99 5.99 0 0 1 1.918 3.48.502.502 0 0 1 .582.493v1a.5.5 0 0 1-.582.493A5.99 5.99 0 0 1 12 12.473v1.86c0 .92-.746 1.667-1.667 1.667H5.667zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z"/>
    </svg>      Most active hours</h4>
    <p>12:00pm-14:30pm        3,923massages   </p>
    <p>18:00pm-19:10pm        1,143 messages  </p>
    <p>10:00am-11:10am         938 messages   </p>
    <p>10:00am-11:00am         938 messages   </p>
    <p>10:00am-11:00am         938 messages   </p>
    <p>1o:00am-11:00am         938 messages   </p>
  </div>
</div>

<!-- row last -->
 <div class="row row_back">

      <div>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
        </div>
      </div>
    </div>

